{% extends 'form.html' %}
{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock %}

{% block subform %}

{% if validlink %}
{% block heading %}Set a new password!{% endblock %}
<form method="POST" novalidate>
  {% csrf_token %}
  {{ form|crispy}}
  <input class="btn btn-success" type="submit" value="Change my password">
</form>

{% else %}
{% block heading %}Failed!{% endblock %}
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}
