<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    {% block title %}
        {{ page_title|default:"Untitled Page" }}
    {% endblock title %}
    </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

{% block content %} 

{% endblock content %}
<div id="webchat">
				{% comment %} <script src="https://storage.googleapis.com/mrbot-cdn/webchat-latest.js"></script> {% endcomment %}
				<script>!(function () {
                    let e = document.createElement("script"),
                        t = document.head || document.getElementsByTagName("head")[0];
                    (e.src =
                        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
                        // Replace 1.x.x with the version that you want
                        (e.async = !0),
                        (e.onload = () => {
                        window.WebChat.default(
                            {
                            customData: { language: "en" },
                            socketUrl: "http://localhost:5005",
                            // add other props here
                            },
                            null
                        );
                        }),
                        t.insertBefore(e, t.firstChild);
                    })();
                </script>
			</div>
</body>
</html>