{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'accounts/images/buddha.png' %}" width="30" height="30" alt="buddha" style="display: inline-block;">
    <span style="display: inline-block;"><h2>Smile</h2></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"><h3>Home</h3> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Blog</h3> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    <p> <a class="btn btn-outline-success" href="{% url 'login' %}" role="button">Log In</a><nbsp>
    <a class="btn btn-outline-success" href="{% url 'signup' %}" role="button">Sign Up</a></p>
    </div>
  </nav>
</header>
 <div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="mt-2">{%block heading%}Heading{% endblock%}</h1>
      <hr class="mt-0 mb-4"> 
        {% block subform %}
        {%endblock%}
    </div>
  </div>
</div>
{% endblock %}