{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'accounts/images/buddha.png' %}" width="30" height="30" alt="buddha" style="display: inline-block;">
    <span style="display: inline-block;"><h2>Smile</h2></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"><h3>Home</h3> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h3>Blog</h3> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    {% if user.is_authenticated %}
      <p>
      <a href="#"><h2>Hi {{ user.username }}!</h2></a>
      <a class="btn btn-outline-success" href="{% url 'logout' %}" role="button">Log Out</a>
      </p>
    {% else %}
      
      <p>
       <a class="btn btn-outline-success" href="{% url 'login' %}" role="button">Log In</a>
        <nbsp>
       <a class="btn btn-outline-success" href="{% url 'signup' %}" role="button">Sign Up</a>
      </p>
    {% endif %}
    </div>
  </nav>
</header>
{% comment %} <p><a href="{% url 'password_reset' %}">Reset Password</a></p> {% endcomment %}
{% comment %} <p>You are not logged in</p> {% endcomment %}

<main role="main" class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Gautam Buddha</h1>
      <p>Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.
Three things cannot be long hidden: the sun, the moon, and the truth.
You only lose what you cling to.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

</main><!-- /.container -->
{% endblock %}