{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Gautam Buddha</h1>
      <p>Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.
Three things cannot be long hidden: the sun, the moon, and the truth.
You only lose what you cling to.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

</main><!-- /.container -->
{% endblock %}